@charset "utf-8";


/*  Reset CSS  */
* { margin:0;  padding:0;}
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0;}
body { font:17px arial; color:#333; } 
.hidden{overflow: hidden;width: 1px;height: 1px;color: #fff;position: absolute;text-align: -9999%;}

/*로고*/
h1 { position:fixed; top:50px; left:50px; z-index:10;}
h1 img { width:200px; height:auto;}



/*메뉴*/
#menu { position:fixed; top:4%; left:0; z-index:13;width: 100%;text-align: center; }
#menu li{float: left;width:14.28%; height:60px;}
#menu a { display:block;  font-size:14px;  overflow:hidden; box-sizing:border-box;opacity:0.8; transition:all 0.5s;}
#menu li:hover a { font-size:24px;opacity:1; }
#menu li.on a { font-size:24px; opacity:1;}

/*첫번째*/
.portfolio{position: relative;border: 3px solid #000;width:80% ;height: 70%;margin:7% auto 0;overflow: hidden;}
.portfolio .top{overflow: hidden;border-bottom: 1px solid #000;background: #ccc;font-size: 25px;}
.portfolio .top span{float: left; display: block;text-align: center;margin:5px;}
.portfolio .top ul{overflow: hidden;}
.portfolio .top li{float: right;margin:  5px;}
.portfolio .mid{ }
.portfolio .mid h2{ font-size: 60px;text-align: center;margin: 7% 0 3%;}
.portfolio .mid .main-text{text-align: center;font-size: 27px; }
.portfolio .mid p{margin: 10% 0 0;text-align: center; font-size: 30px;}
.portfolio .mid ul{overflow: hidden;position:absolute;bottom:10%;left: 50%;margin-left: -380px;width: 760px;}
.portfolio .mid li{float: left;margin: 0 10px;border: 1px solid #000;text-align: center; width: 230px;}
.portfolio .mid a{display: block;padding: 5px 0;font-size: 23px;}
.portfolio .mid li a:hover{background: #000;color: #fff;}

/*두번째*/
.profile{position: relative;border: 3px solid #000;width:80% ;height: 70%;margin:7% auto 0;overflow: hidden;}
.profile .top{overflow: hidden;border-bottom: 1px solid #000;background: #ccc;font-size: 25px;}
.profile .top span{float: left; display: block;text-align: center;margin:5px;}
.profile .top ul{overflow: hidden;}
.profile .top li{float: right;margin:  5px;}
.profile .mid{padding:5% 4% 0;overflow: hidden; }
.profile .mid h3{text-transform: uppercase; display: block;text-align: center;margin:0 3%;font-size: 60px;margin-bottom: 3%;}
.profile .left{width: 30%;float: left;}
.profile .left img{width: 70%;}
.profile .right{width: 70%;float: right;}
.profile .mid dl{overflow: hidden; border: 1px solid #000;border-radius: 15px;}
.profile .mid dl:hover dt i{color: rgb(255, 115, 0);}
.profile .mid dl dt{margin: 10px 15px;border-bottom: 1px solid #000;padding-bottom: 5px;font-size: 30px;font-weight: bold;}
.profile .mid dl dt i:first-of-type{display: block;float: left;margin-right: 10px;}
.profile .mid dl dt i:last-of-type{display: block;float: right;}
.profile .mid dl dd{margin: 12px 25px;line-height: 35px;font-size: 20px;}

/*레이아웃*/
section { width:100%;height:700px; position:relative; background-size:cover; 
    background-position:right center;color: #000; background-attachment:fixed; overflow:hidden;}


/*site_img*/
.Desktop .left,.mobile .left{width:40% ;margin: 12% 0 0 5%;float: left;}
.Desktop .left .site_img,.mobile .left .site_img{position: relative;}
.Desktop .left .site_img img:first-of-type{position: absolute;top: 15px;left: 15px;}
.Desktop .left .site_img img:last-of-type,.mobile .left .site_img img:last-of-type{position: absolute;top: 0;left: 0;}
.mobile .left .site_img img:first-of-type{position: absolute;top: 50px;left: 230px;z-index: 1;}
/*site_text*/
.Desktop .right,.mobile .right{width:45% ;margin: 7% 5% 0;overflow: hidden; float: right;}
.site_text{box-sizing: border-box; position: relative;border: 3px solid #000;}
.site_text .top{overflow: hidden;border-bottom: 2px solid #000;font-size: 25px;}
.site_text .top span{float: left; display: block;text-align: center;margin:5px;}
.site_text .top ul{overflow: hidden;}
.site_text .top li{float: right;margin:  5px;}
.site_text .mid{padding: 7% 5% 13%;}
.site_text h4{margin-bottom: 3%;font-size: 40px;}
.site_text p{line-height: 1.8em;font-size: 20px;}
.timeskill{margin-top: 20px;}
.site_text dl{margin-bottom: 3%;}
.site_text dl dt{font-weight: bold;font-size: 20px; }
.site_text dl dd{line-height: 1.8em;margin-top: .5%;font-size: 18px;}

/* site_text top */
.Desktop .site_text .top{background: #056bb8;}
.mobile .site_text .top{background: #7bc242;}
.Responsive .site_text .top{background: rgb(224, 211, 77);}
.bootstrap .site_text .top{background: rgb(1, 49,157);}
.wordpress .site_text .top{background: rgb(59,26,15);}
.bootstrap .site_text .top i,.wordpress .site_text .top i{display: block;color: #fff;}

/*view_button*/
.view_button{position: relative;padding-top: 5%;}
.view_button a{border: 1px solid #000;text-align: center; width: 170px;display: block;padding: 10px 0;}
.view_button a:hover{background: #000;color: #fff;}
.view_button img{position: absolute;top: 0;right: 0;}



