/* 기업소개 내용 영역 */

#content .content_area{margin-top: 150px;}
#content .content_area h3{font-family: 'Nanum Gothic', sans-serif;  font-weight: 700;font-size: 40px;margin-bottom: 70px;text-align: center;}
#content .last{margin-right: 0;margin-bottom: 0;}
#content .blue{color: #016bb7;}
#content .green{color: #7bc242}
#content .red{color:#ff0000}

#content .content_area .con1{margin-bottom: 150px;}
#content .content_area ul{margin-left: 77px;margin-bottom: 50px;}
#content .content_area .con1 ul li{display: block;text-indent: -999px;overflow: hidden;}
#content .content_area .con1 ul li:nth-of-type(1){background: url(../images/content2/list_01.jpg)no-repeat;width: 1046px;height: 138px;}
#content .content_area .con1 ul li:nth-of-type(2){background: url(../images/content2/list_03.png)no-repeat;width: 1046px;height: 138px;;}
#content .content_area .con1 ul li:nth-of-type(3){background: url(../images/content2/list_05.png)no-repeat;width: 1046px;height: 138px;;}
#content .content_area .con1 ul li:nth-of-type(4){background: url(../images/content2/list_07.png)no-repeat;width: 1046px;height: 138px;;}
#content .content_area .con1 ul li:nth-of-type(5){background: url(../images/content2/list_09.png)no-repeat;width: 1046px;height: 138px;;}
#content .content_area .con1 ul li:nth-of-type(6){background: url(../images/content2/list_11.jpg)no-repeat;width: 1046px;height: 138px;;}
#content .content_area .con1 p{overflow: hidden; font-family: 'Nanum Gothic', sans-serif;font-size: 20px;text-align: center;padding:30px 150px ;line-height: 40px; background: rgb(240, 240, 240);}
#content .content_area .con1 p strong{display: block; font-family: 'Nanum Gothic', sans-serif;  font-weight:700;font-size: 25px;margin: 0 0 20px 0;}

#content .content_area .con2{margin-bottom: 150px;}
#content .content_area .con2 .foster{overflow: hidden;position: relative; background: url(../images/content2/con2_back.jpg);width: 1000px;height: 600px;margin: 0 auto;}
#content .content_area .con2 .foster span{display: block;text-align: center;margin-top: 200px;color: #fff;font-size: 25px;}
#content .content_area .con2 .foster ul{ font-family: 'Nanum Gothic', sans-serif;font-size: 25px;text-align: center;color: #fff;}
#content .content_area .con2 .foster ul li:nth-of-type(1){position: absolute;top:270px;left: 430px;font-size: 30px;}
#content .content_area .con2 .foster ul li:nth-of-type(2){position: absolute;top:380px;left: 240px;}
#content .content_area .con2 .foster ul li:nth-of-type(3){position: absolute;top:380px;right:260px;}
#content .content_area .con2 .foster_text ul{overflow: hidden;margin: 30px 0;}
#content .content_area .con2 .foster_text ul img{}
#content .content_area .con2 .foster_text ul li{font-family: 'Nanum Gothic', sans-serif;position: relative; float: left;width: 340px;padding: 0 20px;line-height: 30px;text-align: center;}
#content .content_area .con2 .foster_text ul li:first-child:after{content: '';position: absolute;top: 0;left:380px; background: #999;width: 1px;height: 100%;}
#content .content_area .con2 .foster_text ul li:last-child::after{content: '';position: absolute;top: 0;left:0; background: #999;width: 1px;height: 100%;}
#content .content_area .con2 .foster_text ul span{display: block;padding: 20px 0;font-size: 20px;font-weight: 700;}
